fastapi==0.115.6
uvicorn==0.34.0
celery==5.4.0
redis==5.2.1
crewai==0.98.0
lancedb==0.17.0
pydantic==2.10.5
sse-starlette==2.2.1
gevent==24.11.1
SQLAlchemy==2.0.37
python-dotenv==1.0.1
chromadb==0.6.3
pysqlite3-binary==0.5.4.post1
cryptography==42.0.5
